.contain{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right: auto;
    margin-left:auto;
    max-width: 700px;    
}
.table_box{
    padding:100px 0;
    margin-right:-15px;
    margin-left: -15px;
}
.write{
    max-width:20%;
    margin-left:auto;
}
.canwrite{
    border: 1px solid #7389bf;
    border-radius: 4x;
    background-color: #8a9dca;
    padding:4px 12px;
    font-size:12px;
}
.canwrite:hover{
    background-color: #7e8cad;
}
.canwrite i{
    color:white;
}
.canwrite span{
    margin-left: 5px;
    color:white;
}
.boardDetail-main .contain{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right: auto;
    margin-left:auto;
    max-width: 700px;
}
.boardDetail-main .table_box{
    padding:100px 0px 0px 0px;
    margin-right:25px;
    margin-left: 25px;
    height: 500px;
}
.boardUpdate-main .contain{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right: auto;
    margin-left:auto;
    max-width: 700px;
}
.boardUpdate-main .inner{
    padding:100px 0px 0px 0px;
    margin-right:25px;
    margin-left: 25px;
    height: 500px;
}
.boardWrite-main .contain{
    width:100%;
    padding-right:15px;
    padding-left:15px;
    margin-right: auto;
    margin-left:auto;
    max-width: 700px;
}
.boardWrite-main .inner{
    padding:100px 0px 0px 0px;
    margin-right:25px;
    margin-left: 25px;
    height: 500px;
}