<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="web.shop.proj.boardMapper">

	<select id="getBoardList" parameterType="web.shop.proj.form.BoardForm" resultType="web.shop.proj.dto.BoardDto">
		SELECT wno, title, content, writer, wdate, hit 
		FROM shopdb.board
		
	</select>

	<delete id="updateBoardHits" parameterType="web.shop.proj.form.BoardForm">    
        UPDATE shopdb.board 
           SET hit = hit + 1
         WHERE wno = #{wno}
    
    </delete>

	<select id="getBoardDetail" parameterType="web.shop.proj.form.BoardForm" resultType="web.shop.proj.dto.BoardDto">
    	SELECT wno, title, content, writer, hit, cast( DATE_FORMAT( wdate, '%Y-%m-%d %H:%i:%s' ) AS CHAR(19) ) AS wdate
        FROM shopdb.board 
        WHERE wno = #{wno}
    
    </select>

	<insert id="insertBoard" parameterType="web.shop.proj.form.BoardForm">    
        INSERT INTO shopdb.board(wno, title, content, writer, wdate, hit) 
        VALUES(0, #{title}, #{writer}, #{content}, sysdate(), 0)
    
    </insert>
    
    <delete id="deleteBoard" parameterType="web.shop.proj.form.BoardForm">    
        DELETE 
        FROM shopdb.board
        WHERE wno = #{wno}
    
    </delete>
    
    <delete id="updateBoard" parameterType="web.shop.proj.form.BoardForm">    
		UPDATE shopdb.board
		SET title = #{title}, content = #{content}, wdate = dateNow
		WHERE wno = #{wno}
    
    </delete>
</mapper>